<form [formGroup]="searchForm">
  <div class="flex items-center justify-between w-full h-16 px-2">
    <div class="flex items-center justify-center w-16 h-16">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/5/53/Pok%C3%A9_Ball_icon.svg"
        alt="Pokemon Logo"
        class="p-2"
      />
    </div>
    <div class="flex items-center justify-end w-1/2">
      <input
        formControlName="search"
        class="w-full p-2 rounded-lg"
        type="text"
        placeholder="Search Pokemon"
        formControlName="search"
      />
    </div>
    <div class="header__language">
      <select class="p-2 rounded-lg" name="language" id="language">
        <option value="en">English</option>
        <option value="es">Spanish</option>
      </select>
    </div>
  </div>
</form>
