<div class="detail w-full h-screen flex flex-col object-cover">
  @if (pokemonDetails() && allCardsByName().data.length > 0 && !isError()) { @if
  (showCard()) {
  <div class="cardImage" (touchstart)="onTouch()">
    <img
      [src]="cardUrlImage()"
      alt=""
      class="cardImage__img"
      (document:keydown)="hideCardWhenPressEscape($event)"
    />
  </div>
  }
  <div class="detail__buttonBack" (click)="goBack()">
    <div class="detail__buttonBack--container">
      <mat-icon>arrow_back</mat-icon>
      <span>Go Back</span>
    </div>
  </div>
  <div class="detail__body">
    <div class="detail__body--card">
      <app-pokemon-basic-info
        [pokemonData]="pokemonDetails()"
        (showCard)="showPokemonCard($event)"
      ></app-pokemon-basic-info>
    </div>
    <div class="detail__body--container">
      <div class="detail__body--container--stats">
        @if (pokemonDetails()?.stats?.length ?? 0 > 0) {
        <app-pokemon-stats
          [stats]="pokemonDetails()?.stats"
        ></app-pokemon-stats>
        }
      </div>
      <div class="detail__body--container--movements">
        @if (allCardsByName().data.length > 0) {
        <app-pokemon-cards
          [allCards]="allCardsByName().data"
          (sendUrlCard)="showTableCard($event)"
        ></app-pokemon-cards>
        }
      </div>
    </div>
  </div>
  } @else {
  <div
    class="flex items-center justify-center w-full h-full absolute top-0 left-0"
  >
    <app-empty-state
      [isError]="isError()"
      [isLoading]="isLoading()"
    ></app-empty-state>
  </div>
  }
</div>
