<div class="detail w-full h-screen flex flex-col object-cover">
  @if (showCard()) {
  <div class="cardImage" (touchstart)="onTouch()">
    <img
      [src]="cardUrlImage()"
      alt=""
      class="cardImage__img"
      (document:keydown)="hideCardWhenPressEscape($event)"
    />
  </div>
  }
  <div class="detail__buttonBack" (click)="goBack()">
    <div class="detail__buttonBack--container">
      <span class="material-symbols-outlined"> arrow_back </span>
      <span>Go Back</span>
    </div>
  </div>
  <div class="detail__body">
    <div class="detail__body--card">
      @if (pokemonDetails()) {
      <app-pokemon-basic-info
        [pokemonData]="pokemonDetails()"
        (showCard)="showPokemonCard($event)"
      ></app-pokemon-basic-info>
      }
    </div>
    <div class="detail__body--container">
      <div class="detail__body--container--stats">
        <app-pokemon-stats
          [stats]="pokemonDetails()?.stats"
        ></app-pokemon-stats>
      </div>
      <div class="detail__body--container--movements">
        <app-pokemon-movements></app-pokemon-movements>
      </div>
    </div>
  </div>
</div>
