<div class="test">
  <div class="title">
    <span>{{ pokemon().name }}</span>
  </div>
  <div class="imagen">
    <img
      src="../../../../assets/image/pokeball.png"
      alt=""
      class="testImagen"
    />
  </div>
  <div class="pokemon">
    <img
      class="pokemonImg"
      src="../../../../assets/image/Silhouette.png"
      alt=""
    />
  </div>
  <div class="abajo">
    <div class="tipos">
      <div class="tiposTip">Planta</div>
      <div class="tiposTip">Veneno</div>
    </div>
    <div class="about">
      <span> About</span>
    </div>
    <div class="descripcion">
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc iaculis
        eros vitae tellus condimentum maximus sit amet in eros.
      </span>
    </div>
    <div class="btn-text">
      <button>Show more</button>
    </div>
  </div>
</div>
