<div class="card" (click)="goToPokemonDetails()">
  <div class="card-header">
    <span class="pokemon-name">{{ pokemon().name }}</span>
  </div>
  <div class="card-image-wrapper">
    <img
      src="../../../../assets/image/pokeball.png"
      alt="Pokeball"
      class="pokeball-image"
    />
  </div>
  <div class="pokemon-wrapper">
    <img
      class="pokemon-image"
      [src]="pokemon().image"
      alt="Pokemon Silhouette"
    />
  </div>
  <div class="card-content">
    <div class="pokemon-types">
      @for (item of pokemon().types; track $index) {
      <div [ngClass]="['type-label', item.type.name]">
        {{ item.type.name }}
      </div>
      }
    </div>
    <div class="section-title">
      <span>Sprites</span>
    </div>
    <div class="pokemon-description">
      <img
        [src]="pokemon().sprites.front_default"
        class="pokemon-sprite"
        alt=""
      />
      <img
        [src]="pokemon().sprites.back_default"
        class="pokemon-sprite"
        alt=""
      />
      <img
        [src]="pokemon().sprites.front_shiny"
        class="pokemon-sprite"
        alt=""
      />
      <img [src]="pokemon().sprites.back_shiny" class="pokemon-sprite" alt="" />
    </div>
  </div>
</div>
