.card {
  width: 22.5rem;
  height: 33rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }

  @media (max-width: 360px) {
    justify-content: center;
  }
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 1rem;
}

.card-image-wrapper {
  display: flex;
  justify-content: flex-end;
  image-rendering: pixelated;
  padding: 1rem;
  height: 25%;
}

.pokeball-image {
  position: absolute;
}

.pokemon-wrapper {
  display: flex;
  justify-content: center;
}

.pokemon-image {
  z-index: 999;
  width: 60%;
}

.card-content {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: inherit;
  border-radius: 8px;
  margin: 0.3rem;
  padding: 0.5rem;
  box-shadow: 1px -1px 8px -2px rgba(105, 105, 105, 0.94);
}

.pokemon-types {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  text-transform: capitalize;
}

.type-label {
  width: 15%;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b8b8b8;
  font-weight: bold;
  font-size: 20px;
}

.pokemon-description {
  display: flex;
  width: 100%;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.pokemon-sprite {
  max-width: 100%;
  width: 80px;
  height: 80px;
}

.show-more {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    background: none;
    border: none;
    color: inherit;
    font-size: 1rem;
    cursor: pointer;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #888;
    }

    &:focus {
      outline: none;
    }
  }
}
