<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="customTable">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>Id.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Artist</th>
      <td mat-cell *matCellDef="let element">{{ element.artist }}</td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef>Rarity</th>
      <td mat-cell *matCellDef="let element">{{ element.rarity }}</td>
    </ng-container>

    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          aria-hidden="false"
          fontIcon="visibility"
          (click)="showCard(element.images.large)"
        ></mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5]"
    class="customTable"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
