.containerList {
  background-image: url("../../../assets/image/background-poke.jpg");
  background-size: cover;
  background-position: center;
  max-height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;

  &__list {
    display: flex;
    justify-content: center;
    margin-top: 5rem;

    &--pokemons {
      display: grid;
      grid-template-columns: repeat(
        auto-fit,
        minmax(clamp(22.5rem, 22.5rem, 22.5rem), 1fr)
      );
      animation: fadeIn 1s ease-in-out;
      gap: 1rem;
      max-width: 100%;
      width: max-content;
      justify-content: center;

      @media (max-width: 768px) {
        padding: 0;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
