<div class="containerList w-full h-screen flex flex-col object-cover">
  @if (!error()) {
  <div class="containerList__header">
    <app-pokemon-header
      (name)="onSearch($event)"
      [isLoading]="loading()"
    ></app-pokemon-header>
  </div>
  <div class="containerList__list" [@fadeSlide]>
    <div class="containerList__list--pokemons">
      @for (pokemon of displayedPokemons(); track $index) {
      <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
      }
    </div>
  </div>
  }
  <div id="sentinel" class="h-10"></div>

  @if (error() || loading()) {
  <div
    class="flex items-center justify-center w-full h-full absolute top-0 left-0"
  >
    <app-empty-state
      [isError]="error()"
      [isLoading]="loading()"
    ></app-empty-state>
  </div>
  }
</div>
