<div class="containerList w-full h-screen flex flex-col object-cover">
  <div class="containerList__header">
    @if (!loading()) {
    <app-pokemon-header (name)="onSearch($event)"></app-pokemon-header>
    } @else {}
  </div>
  <div class="test" [@fadeSlide]>
    <div class="containerList__list">
      @for (pokemon of displayedPokemons(); track $index) {
      <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
      }
    </div>
    @if (loading()) {
    <img
      src="./../../../assets/image/pokeIcon.png"
      alt=""
      class="containerList__spinner"
    />
    }
  </div>
  <!-- Elemento para detectar el scroll infinito -->
  <div id="sentinel" class="h-10"></div>
</div>
